/* 전체 폰트 및 배경 설정 */
body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    background-color: #1e1e2f;   
    margin: 0;
    padding: 0;
    color: #f5f5f5;           
}

/* 공통 제목 스타일 */
h1, h2, h3 {
    color: #BDE47A;             
    margin-bottom: 10px;
    text-align: center;        
}

/* 헤더 스타일 */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #2a2a40;
}


header h1 {
    margin: 0;
    font-size: 28px;
    flex-grow: 1;
    text-align: center;
    color: #BDE47A; 
}


/* 아이콘 스타일 */
.top-icons {
    display: flex;
    gap: 16px;
    justify-content: flex-end;
    padding: 10px 30px;
    margin-bottom: -20px;
}

.nav-icon {
    background: none;
    border: none;
    color: #BDE47A; 
    font-size: 22px;
    cursor: pointer;
    transition: color 0.3s;
}

.nav-icon:hover {
    color: #00C49F;
}

/* 폼 스타일 */
form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 20px;
    width: 500px;
    margin: 40px auto;
    background: #fff;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
}

/* 입력창 스타일 */
input[type="text"],
input[type="password"],
input[type="number"],
input[type="file"],
input[type="email"] {
    padding: 10px;
    height: 44px;
    width: 100%;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* 버튼 스타일 */
button {
    padding: 10px;
    background-color: #BDE47A; 
    border: none;
    color: #1e1e2f; 
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #A2D156;  
}



/* 이벤트 목록 컨테이너 */
ul {
    list-style-type: none;
    padding: 0;
    max-width: 800px;
    margin: 20px auto;
}

/* 이벤트 아이템 스타일 */
li {
    background-color: #ffffff;
    border: 1px solid #e1e1e1;
    border-radius: 6px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.05);
}

li img {
    display: block;
    margin-top: 10px;
    border-radius: 4px;
}

/* 링크 스타일 */
a {
    text-decoration: none;
    color: #BDE47A; 
}

a:hover {
    text-decoration: underline;
}

/* 유효성 메시지 */
.validation-message {
    min-height: 20px;
    font-size: 0.9em;
    margin-top: -5px;
    color: red;
    transition: color 0.3s ease;
}

.validation-message.valid {
    color: green;
}

/* 푸터 스타일 */
footer {
    text-align: center;
    padding: 20px;
    color: #aaa;
    font-size: 14px;
}

footer p{
    color: #BDE47A; 
}
